<div
  class="main-container"
  fxLayout="column"
  fxLayoutAlign="space-around center"
>
  <!-- Header -->
  <div fxLayout="column" fxLayoutAlign="space-around center">
    <h1>Discover "Perfect Pelle´s"</h1>
    <h2>You can buy it below</h2>
  </div>
  <!-- Main Content -->
  <div
    class="main-container"
    fxLayout="row"
    fxLayout.xs="column"
    fxLayoutAlign="space-evenly center"
  >
    <app-products-card></app-products-card>
  </div>
  <!-- Footer -->
  <footer class="footer" fxLayout="column" fxLayoutAlign="end center">
    <p>You can buy all shit in products section!</p>
  </footer>
</div>
