<mat-tab-group>
  <!-- About User Tab -->
  <mat-tab label="About User">
    <div *ngIf="member" class="user-info-container">
      <div class="additional-content">
        <p>Welcome to the profile of {{ member.userName }}!</p>
        <p>Explore more about this user below.</p>
      </div>
      <img [src]="member.mainPhotoUrl" alt="User Photo" class="user-photo" />
      <div class="user-details">
        <h1>{{ member.userName }}</h1>
        <p>{{ member.email }}</p>
      </div>
    </div>
    <p>
      This is the About User tab content. Replace this with actual user
      information.
    </p>
    <button
      [routerLink]="'/users'"
      mat-raised-button
      color="primary"
      style="margin-top: 10px"
    >
      Back to Users
    </button>
  </mat-tab>

  <!-- Photos Tab -->
  <mat-tab label="Photos">
    <p>
      This is the Photos tab content. Replace this with an actual photo gallery.
    </p>
    <gallery [items]="images"></gallery>
  </mat-tab>

</mat-tab-group>

