.user-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.additional-content {
  margin-bottom: 20px;
}

.user-photo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-top: 20px;
}

.user-details {
  margin-top: 10px;
}

.third-tab-content {
  padding: 20px;
}

button.mat-raised-button {
  margin-top: 10px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
}

gallery{
  height: 80vh;
  width: 70vw;
  margin: 15px;
}