<p>user-card works!</p>

<div class="mat-card mat-card-image" *ngIf="member" >
  <img [src]="member.mainPhotoUrl" alt="{{member.userName}}" class="mat-card-image-top">
  <div class="mat-card-image-overlay" fxLayoutAlign="space-evenly center" style='margin-top: 5px;'>

    <button routerLink="/members/{{member.userName}}" class="mat-icon-button">
      <mat-icon>person</mat-icon>
    </button>

    <button class="mat-icon-button">
      <mat-icon>favorite</mat-icon>
    </button>

    <button routerLink="/members/{{member.userName}}" [queryParams]="{tab: 3}" class="mat-icon-button">
      <mat-icon>email</mat-icon>
    </button>

  </div>
</div>

<div class="mat-card-content p-1" *ngIf="member">
  <h6 class="mat-card-title text-center mb-1">
    <span >
      <mat-icon class="mr-2">person</mat-icon>
    </span>
    {{member.userName}}
  </h6>
  <p class="mat-card-subtitle text-muted text-center">{{member.firstName}}</p>
</div>
