.img-circle {
  max-height: 30px;
}

.box {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}

.d-flex{
    justify-content: center;
}

.row{
    height: 65vh;
    width: 80vw;
}

.btn{
    margin: 0 4px 0 4px;
}