.example-card {
  margin: 20px 10px 20px 10px;
  max-width: 250px;
}

.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}
.card-image {
  padding: 0px 4px 0px 4px;
  max-width: 250px;
}
