<!-- home.component.html -->
<div class="home-container" fxLayout="column" fxLayoutAlign="center center">
  <!-- Welcome Section -->
  <section class="welcome-section">
    <h1>Welcome to "Perfect Pelle's" Plant Shop</h1>
    <p>Your Ultimate Destination for Rare and Beautiful Plants</p>
  </section>

  <!-- Featured Products Section -->
<section class='featured-sections'>
  <ngb-carousel
  [interval]="4000"
  [wrap]="true"
  [keyboard]="true"
  [pauseOnHover]="true"
  [showNavigationArrows]="true"
  [showNavigationIndicators]="true"
>
  >
    <ng-template ngbSlide >
      <div fxLayoutAlign="space-evenly center">
      <img [src]="'https://randomuser.me/api/portraits/lego/1.jpg'">
      <img [src]="'https://randomuser.me/api/portraits/lego/2.jpg'">
      <img [src]="'https://randomuser.me/api/portraits/lego/3.jpg'">
    </div>
    </ng-template>

    <ng-template ngbSlide>
      <div fxLayoutAlign="space-evenly center">
      <img [src]="'https://randomuser.me/api/portraits/lego/4.jpg'">
      <img [src]="'https://randomuser.me/api/portraits/lego/5.jpg'">
      <img [src]="'https://randomuser.me/api/portraits/lego/6.jpg'">
    </div>
    </ng-template>

    <!-- Add more slides as needed -->
  </ngb-carousel>
</section>
  <!-- Customer Reviews Section -->
  <section class='reviews-sections'>
    <div fxLayout='row'fxLayoutAlign="space-evenly center">
      <h2>What Our Customers Say</h2>

<div>
    <div fxLayout='row'fxLayoutAlign="space-evenly center">
      <img [src]="'https://randomuser.me/api/portraits/lego/7.jpg'">
      <div fxLayout='column'fxLayoutAlign="space-evenly center" style='width: 250px;'>
      <p>"Absolutely love my new plants! They arrived in perfect condition and are thriving in my home."</p>
      <p>- HappyPlantOwner22</p>
    </div>
    </div>

    <div fxLayout='row'fxLayoutAlign="space-evenly center">
      <img [src]="'https://randomuser.me/api/portraits/lego/8.jpg'">
      <div fxLayout='column'fxLayoutAlign="space-evenly center" style='width: 250px;'>
      <p>"The variety of plants is amazing. I found some unique species that I couldn't find anywhere else."</p>
      <p>- GreenThumb85</p>
    </div>
    </div>
  </div>
</div>
  </section>

  <!-- Call-to-Action Section -->
  <section class="cta-section">
    <h2>Log in to Get Exclusive Offers</h2>
    <p>Unlock member-only discounts and promotions by logging in to your account. Start your plant collection journey today!</p>
    <button mat-raised-button color="primary" [routerLink]="'/login'">Log In</button>
  </section>
</div>
