.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

mat-card{
  align-items: center;
}
mat-card-content{
  height: 60px;
  margin-top: 15px;;
}
mat-card-title{
  height: 12px;
}

.example-card {
  width: 180px;
  height: 260px;
  margin: 5px;
  overflow: hidden;

  .card-image {
    margin-top: 8px;
    width: 90%;
    height: 60%;
    object-fit: cover;
    transition: transform 0.5s;
  }


  &:hover {
    .card-image {
      transform: scale(1.1);
    }
  }
}
