<div class="card-container" fxLayout="row wrap" fxLayoutGap="16px">
  <div class="container" *ngFor="let photo of member?.photos">
    <img class="card-image" [src]="photo.url" [alt]="photo.url" />
    <div class="btn-container">
      <button
        class="btn btn-sm btn-success"
        [disabled]="photo.isMain"
        (click)="setMainPhoto(photo)"
      >
        Main
      </button>
      <button
        class="btn btn-sm btn-danger"
        [disabled]="photo.isMain"
        (click)="deletePhoto(photo.id)"
      >
        Delete
      </button>
    </div>
  </div>
</div>
